@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

.cuerpo {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 30em;
    min-height: 30em;
    background-image: url("https://images.unsplash.com/photo-1603484477859-abe6a73f9366?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cGFwZXIlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
    margin: 0 auto;
    font-family: 'Syne Mono', monospace;
    align-items: center;
}

.inputUno {
    background-color: rgba(200, 185, 153, 0.7);
    border: none;
}

.inputUno:focus {
    outline: none;
}

.inputUno::placeholder {
    color: black;
}

li {
    margin-top: 0.5em;
    width: 70%;
}

button {
    background-color: transparent;
    border: none;
    float: right;

}

i {
    color: black;
    width: 100%;
    text-align: center;
    z-index: -1;
}

.ultimoLi {
    margin-top: 2em;
    font-size: 0.8em;
    list-style-type: none
}